.cards {
  float:left;
  width: 30%;
  margin-top: 2%;
  border: solid black;
  border-width: 10px;
  background-color: rgb(230, 230, 230);
  margin-left: 10%;
  margin-right: 10%;
  padding: 15px;
}

.projects {
  text-align: left;
  padding: 10px;
}

.cmu {
  color: maroon;
}

.header {
  text-align: center;
  margin-top: 4%;
}

h2 {
  text-align:center;
}

img {
  width: 20%;
  height: auto;
}

h3 {
  margin-top: 20%;
  text-align: center;
}

#cats {
  margin-left: 38%;
  padding: 10px;
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%
  }
  to {
    margin-left: 38%;
  }
}

body {
  background-color: rgb(101, 176, 199);
}