.cards {
  float:left;
  width: 30%;
  margin-top: 2%;
  border: solid black;
  border-width: 10px;
  background-color: rgb(230, 230, 230);
  margin-left: 10%;
  margin-right: 5%;
}

.projects {
  text-align: left;
  padding: 10px;

}

.abt {
  padding: 10px;
}

.cmu {
  color: maroon;
}

.header {
  text-align: center;
  margin-top: 4%;
}

h2 {
  text-align:center;
}

img {
  width: 20%;
  height: auto;
}

body {
  background-color: rgb(101, 176, 199);
}