.cards {
  float:left;
  width: 30%;
  border: solid black;
  border-width: 10px;
  background-color: white;
  margin-left: 10%;
  margin-right: 5%;
}

.projects {
  text-align: center;
}

.abt {
  padding: 10px;
}

.cmu {
  color: maroon;
}

.header {
  text-align: center;
}

REFORMAT THE A LINKS SO THAT THEY EACH HAVE THEIR OWN P AND I CAN THROW TEXT AFTER THEM 

a {
  display: block;
}

img {
  width: 10%;
  height: auto;
}

body {
  background-color: rgb(101, 176, 199);
}